.git
.gitignore
**/node_modules
build/
dist/
**/charts
**/.next
**/.api
**/dist
*Dockerfile*
yarn-error.log
**/*.md
**/*.sh

!**/docs/**/*.md

.env
*.env
!default.env

config/*
!config/default.json
!config/local.json

*.db
*.cpuprofile
*.heapsnapshot
