.git
.gitignore
**/node_modules
build/
dist/
**/charts
**/.next
**/.api
**/lib
**/dist
*Dockerfile*
yarn-error.log
**/*.md
**/*.sh

.env
*.env
!default.env

config/*
!config/default.json

*.db
*.cpuprofile
