.idea/
node_modules
build/
dist/
build-data/
tmp/
temp/
.next
yarn-error.log
requests.html
coverage/
package-lock.json
public/uploads
storybook-static
*.png
*.pdf
*.zip
data

.env
*.env
!default.env

config/*
!config/default.json
!config/local.json

*.db
*.cpuprofile
*.heapsnapshot

.DS_Store

runlify.developer.json
